{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if edit %}
        <form action="{% url 'entry' title %}" method="post">
            {% csrf_token %}
            <label for="edit_content">Page Content</label>
            <textarea id="edit_content" name="edit_content">{{content}}</textarea>
            <input type="submit" value="Submit">
        </form>

        {% else %}
        {{ content | safe }}
        <input type="submit" action="{% url 'entry' title {{edit}}%}" method="post" value="Edit this page">
        <!--<a href=" url 'edit' ">Edit this page</a>-->
     {% endif %}
{% endblock %}